.inputForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 220px;
}

.inputForm input {
  padding: 8px 15px;
}

.inputForm div {
  width: 220px;
}
.inputForm div {
  border-radius: 10px;
  border: none;
}

.inputForm button {
  border: 2px solid #b9c0e0;
  color: #b9c0e0;
  border-radius: 10px;
}
