.profileContainer {
  display: flex;
  margin-top: 50px;
}

.avatar {
  padding: 0px 35px;
}

.avatar img {
  width: 160px;
  border-radius: 10px;
}

.profileDataContainer {
  text-align: left;
  font-size: 17px;
  width: 30%;
}

.sideButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin: auto;
  width: 200px;
  padding-top: 8px;
}

.sideButtons button {
  cursor: pointer;
  padding: 5px;
  font-size: 17px;
  transition: all 0.2s;
  width: 150px;
}

.sideButtons button:hover {
  background-color: #dad3ce;
}

.addedHostContainer {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 8px #ccc;
  transition: all 0.5s;
  border-radius: 20px;
  overflow: hidden;
  width: 60%;
  margin-bottom: 20px;
}

.addedHostInfo p {
  margin: 10px 0;
  font-size: 15px;
  color: #645e53;
  text-align: left;
}

.addedHostInfo p:first-child {
  color: rgb(86, 81, 72);
  font-weight: 700;
  font-size: 20px;
}
