.logo {
  width: 140px;
  cursor: pointer;
  background-color: #3f3b34;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.searchContainer div {
  border-radius: 15px;
  border: none;
  width: 270px;
}

.searchContainer input {
  padding: 12px 10px;
}

.searchContainer input:focus {
  border-color: black;
}
.logout,
.sign {
  display: flex;
  align-items: center;
  gap: 25px;
}

.sign img,
.logout img {
  width: 40px;
  height: 40px;
  opacity: 0.75;
}

.logoutbutton span {
  color: #3f3b34;
}

.addOffer {
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 11px;
  color: #fff;
  background-color: #e67e22;
  font-size: 20px;
  padding: 10px 15px;
  font-family: inherit;
}

.addOffer:hover {
  border-radius: 9px;
  color: #fff;
  background-color: #cf711f;
  transition: all 0.3s;
}
.findIcon {
  width: 31px;
  padding: 3px;
  transition: all 0.3s;
  cursor: pointer;
}

.findIcon:hover {
  box-shadow: 0px 0 4px #ded4d4e6;
  border-radius: 8px;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 80px;
  }
  .searchContainer div {
    width: 140px;
  }
  .addOffer {
    width: 100px;
    font-size: 14px;
  }
  .logout {
    width: 100px;
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .logo {
    width: 60px;
  }
  .searchContainer div {
    width: 100px;
  }
  .addOffer {
    width: 80px;
    font-size: 10px;
  }
  .logout {
    width: 80px;
    font-size: 10px;
  }
}
