.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.container img {
  width: 100%;
}

.container p {
  font-size: 15px;
  color: black;
}

.container span:hover {
  width: 65px;
  color: whit;
  opacity: 1;
  transition: 0.2s;
}

.container span {
  cursor: pointer;
  width: 50px;
  opacity: 0.8;
}
