.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.aboutContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.aboutContainer img {
  width: 30px;
  height: 30px;
}
.linkContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
