body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-color: rgb(249, 234, 208);
  /* background-image: url("../src/images/bg-img.jpg"); */
  background-position: center;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
