body {
  margin: 0;
  padding: 0;
  color: #3f3b34;
  background-color: rgb(249, 234, 208);
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
